# HTML files
*.html
*.js
*.css
*.svg
*.ttf
*.woff
*.woff2
*.eot
*.otf

# Gitbook files
LICENSE
.npmignore
.project
.eslintrc
*.map
*.gif
*.ts
package.json

# Export result
*.pdf
*.epub

# Build result
doc/_book
doc/node_modules
